.manage-content-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.manage-content-cards .card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 340px;
  padding: 60px 0px;
  background-color: #fff;
  border-radius: 12px;
}

.manage-content-cards .card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 16px;
}

.manage-content-cards .card .text h3 {
  text-align: center;
  color: #4d4d4d;
  font-weight: bold;
}

.manage-content-cards .card .text p {
  text-align: center;
  color: #717171;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .manage-content-cards .card {
    width: 320px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .manage-content-cards .card {
    width: 240px;
    padding: 60px 10px;
  }
  .manage-content-cards .card .text p {
    font-size: 14px;
  }
  .manage-content-cards .card .text h3 {
    font-size: 20px;
  }
}

/* md */
@media (max-width: 768px) {
  .manage-content-cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  .manage-content-cards .card {
    width: 320px;
    padding: 60px 0px;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .manage-content-cards .card {
    width: 280px;
  }
}
