.learn-more-btn button {
  padding: 14px 40px;
  background-color: #4caf4f;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.learn-more-btn button:hover {
  opacity: 0.8;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .learn-more-btn button {
    padding: 12px 30px;
  }
}

/* sm */
@media (max-width: 640px) {
  .learn-more-btn {
    display: flex;
    justify-content: center;
  }
}

/* xs */
@media (max-width: 475px) {
}
