/* Hero */
.hero {
  background-color: #f5f7fa;
}

.hero-swiper {
  --swiper-pagination-color: #4caf4f;
  --swiper-pagination-bullet-inactive-color: #4d4d4d;
  --swiper-pagination-bullet-size: 12px;
}

.hero-content,
.hero-left-content,
.hero-left-content .text,
.hero-content-swiper-icons {
  display: flex;
}

.hero-left-content,
.hero-left-content .text {
  flex-direction: column;
}

.hero-left-content .text h1,
.hero-left-content .text span p {
  font-size: 60px;
}

.hero-content {
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.hero-left-content {
  gap: 40px;
}

.hero-left-content .text {
  gap: 20px;
}

.hero-left-content .text h1 {
  text-transform: none;
  color: #4d4d4d;
}

.hero-left-content .text span p {
  color: #4caf4f;
}

.hero-left-content .text p {
  color: #717171;
}

.hero-left-content .register-btn {
  width: 140px;
  padding: 14px 0px;
  background-color: #4caf4f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-left-content .register-btn:hover {
  opacity: 0.8;
}

.hero-content-swiper-icons {
  justify-content: center;
  padding-bottom: 20px;
}

/* Our Clients */
.our-clients {
  margin-top: 40px;
}

.our-clients-content,
.our-clients-content .text,
.our-clients-content-icons {
  display: flex;
}

.our-clients-content,
.our-clients-content .text {
  flex-direction: column;
}

.our-clients-content {
  gap: 40px;
}

.our-clients-content .text {
  align-items: center;
  gap: 10px;
}

.our-clients-content .text h2 {
  text-transform: capitalize;
  color: #4d4d4d;
}

.our-clients-content .text p {
  color: #717171;
}

.our-clients-content-icons {
  justify-content: space-around;
}

/* Manage */
.manage {
  margin-top: 40px;
}

.manage-content .text {
  display: flex;
}

.manage-content .text {
  flex-direction: column;
}

.manage-content .text {
  align-items: center;
}

.manage-content .text h2 {
  text-align: center;
}

.manage-content .text h2 {
  color: #4d4d4d;
}

.manage-content .text p {
  color: #717171;
}

.manage-content .text {
  gap: 10px;
}

.manage-content .text h2 {
  text-transform: none;
}

/* Learn More */
.learn-more {
  margin-top: 40px;
}

.learn-more-content,
.learn-more .right-wrapper,
.learn-more .right-wrapper .text {
  display: flex;
}

.learn-more .right-wrapper,
.learn-more .right-wrapper .text {
  flex-direction: column;
}

.learn-more-content {
  align-items: center;
  justify-content: space-around;
}

.learn-more .right-wrapper .text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.learn-more .right-wrapper .text p {
  color: #717171;
}

.learn-more .right-wrapper {
  gap: 40px;
}

.learn-more .right-wrapper .text {
  gap: 20px;
}

/* Reinvent */
.reinvent {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.reinvent-content,
.reinvent-left-content-text,
.reinvent-right-content,
.reinvent-right-upper-content,
.reinvent-right-lower-content,
.reinvent-right-upper-content-members,
.reinvent-right-upper-content-clubs,
.reinvent-right-lower-content-event-bookings,
.reinvent-right-lower-content-payments {
  display: flex;
}

.reinvent-content,
.reinvent-right-upper-content,
.reinvent-right-lower-content,
.reinvent-right-upper-content-members,
.reinvent-right-upper-content-clubs,
.reinvent-right-lower-content-event-bookings,
.reinvent-right-lower-content-payments {
  align-items: center;
}

.reinvent-left-content-text,
.reinvent-right-content {
  flex-direction: column;
}

.reinvent-right-upper-content-members-right-content-text h3,
.reinvent-right-upper-content-clubs-right-content-text h3,
.reinvent-right-lower-content-event-bookings-right-content-text h3,
.reinvent-right-lower-content-payments-right-content-text h3,
.reinvent-left-content-text h2,
.reinvent-right-upper-content-members-right-content-text p,
.reinvent-right-upper-content-clubs-right-content-text p,
.reinvent-right-lower-content-event-bookings-right-content-text p,
.reinvent-right-lower-content-payments-right-content-text p {
  color: #4d4d4d;
}

.reinvent-content {
  justify-content: space-around;
  padding: 60px 20px;
}

.reinvent-left-content-text {
  gap: 10px;
}

.reinvent-left-content-text h2 {
  text-transform: none;
}

.reinvent-left-content-text span {
  color: #4caf4f;
}

.reinvent-left-content-text p {
  color: #18191f;
}

.reinvent-right-content {
  gap: 40px;
}

.reinvent-right-upper-content,
.reinvent-right-lower-content {
  gap: 80px;
}

.reinvent-right-upper-content-members,
.reinvent-right-upper-content-clubs,
.reinvent-right-lower-content-event-bookings,
.reinvent-right-lower-content-payments {
  gap: 16px;
}

/* Helping a local business */
.helping-a-local-business {
  margin-top: 40px;
}

.helping-a-local-business-content,
.helping-a-local-business-right-content,
.helping-a-local-business-right-content-text {
  display: flex;
}

.helping-a-local-business-right-content,
.helping-a-local-business-right-content-text {
  flex-direction: column;
}

.helping-a-local-business-content {
  align-items: center;
  justify-content: space-around;
}

.helping-a-local-business-right-content {
  gap: 40px;
}

.helping-a-local-business-right-content-text {
  gap: 20px;
}

.helping-a-local-business-right-content-text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.helping-a-local-business-right-content-text p {
  color: #717171;
}

/* Customers */
.customers {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.customers-content-wrapper,
.customers-content,
.customers-content-text,
.customers-content-logos-and-link,
.customers-content-logos-and-link p {
  display: flex;
}

.customers-content,
.customers-content-text {
  flex-direction: column;
}

.customers-content,
.customers-content-text {
  gap: 20px;
}

.customers-content-logos-and-link,
.customers-content-logos-and-link p {
  align-items: center;
}

.customers-content-text h4,
.customers-content-logos-and-link p a {
  color: #4caf4f;
}

.customers-content-wrapper {
  justify-content: flex-end;
}

.customers-content {
  padding: 20px 100px;
}

.customers-content-text p {
  color: #717171;
}

.customers-content-text p span {
  color: #89939e;
}

.customers-content-logos-and-link {
  justify-content: space-between;
}

.customers-content-logos-and-link p {
  gap: 4px;
}

.customers-content-logos-and-link p a {
  text-decoration: none;
  font-weight: bold;
}

.customers-content-logos-and-link p a:hover {
  text-decoration: underline;
}

/* Marketing */
.marketing {
  margin-top: 40px;
}

.marketing-content-cards-wrapper {
  margin-top: 60px;
}

.marketing-content-cards,
.marketing-content-card,
.marketing-content-card-link p,
.marketing-content-text {
  display: flex;
}

.marketing-content-text,
.marketing-content-card-text {
  text-align: center;
}

.marketing-content-card-link p,
.marketing-content-card {
  align-items: center;
}

.marketing-content-text,
.marketing-content-card {
  flex-direction: column;
}

.marketing-content-text p,
.marketing-content-card-text p {
  color: #717171;
}

.marketing-content-text,
.marketing-content-card {
  gap: 16px;
}

.marketing-content-cards {
  justify-content: space-around;
}

.marketing-content-text h2 {
  color: #4d4d4d;
}

.marketing-content-card-link p {
  gap: 4px;
}

.marketing-content-card {
  width: 300px;
  height: 200px;
  padding: 30px;
  justify-content: center;
  background-color: #edeff1;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.marketing-content-card-link p a {
  color: #4caf4f;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.marketing-content-card-link p a:hover {
  text-decoration: underline;
}

/* Demo */
.demo {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.demo-content,
.demo-content-btn button {
  display: flex;
}

.demo-content,
.demo-content-btn button {
  align-items: center;
}

.demo-content {
  flex-direction: column;
  gap: 40px;
  padding: 60px 40px;
}

.demo-content-text {
  text-align: center;
}

.demo-content-text h2 {
  color: #263238;
  font-size: 48px;
}

.demo-content-btn button {
  background-color: #4caf4f;
  gap: 12px;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.demo-content-btn button:hover {
  opacity: 0.8;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  /* Hero */
  .hero-content {
    padding: 60px 4px;
  }
  .hero-left-content .text h1,
  .hero-left-content .text span p {
    font-size: 48px;
  }
  .hero-content .hero-banner {
    width: 30%;
  }
  /* Learn More */
  .learn-more .right-wrapper .text h2 {
    font-size: 32px;
  }
  .learn-more .right-wrapper .text p {
    font-size: 14px;
  }
  /* Helping a local business */
  .helping-a-local-business-right-content-text h2 {
    font-size: 32px;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 14px;
  }
  /* Customers */
  .customers-content-wrapper {
    justify-content: center;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  /* Hero */
  .hero-content {
    gap: 20px;
  }
  .hero-left-content .text h1,
  .hero-left-content .text span p {
    font-size: 34px;
  }
  .hero-left-content .text p {
    font-size: 14px;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 34px;
  }
  .our-clients-content .text p {
    font-size: 14px;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 34px;
  }
  .manage-content .text p {
    font-size: 14px;
  }
  /* Learn More */
  .learn-more-content {
    gap: 5px;
  }
  .learn-more .right-wrapper .text h2 {
    font-size: 30px;
  }
  /* Reinvent */
  .reinvent-left-content-text h2 {
    font-size: 30px;
  }
  .reinvent-content {
    gap: 20px;
  }
  .reinvent-right-upper-content-members-left-content img,
  .reinvent-right-upper-content-clubs-left-content img,
  .reinvent-right-lower-content-event-bookings-left-content img,
  .reinvent-right-lower-content-payments-left-content img {
    width: 80%;
  }
  .reinvent-right-upper-content-members-right-content-text h3,
  .reinvent-right-upper-content-clubs-right-content-text h3,
  .reinvent-right-lower-content-event-bookings-right-content-text h3,
  .reinvent-right-lower-content-payments-right-content-text h3 {
    font-size: 22px;
  }
  .reinvent-right-upper-content-members-right-content-text p,
  .reinvent-right-upper-content-clubs-right-content-text p,
  .reinvent-right-lower-content-event-bookings-right-content-text p,
  .reinvent-right-lower-content-payments-right-content-text p {
    font-size: 12px;
  }
  /* Helpig a local business */
  .helping-a-local-business-content {
    gap: 5px;
  }
  .helping-a-local-business-right-content-text h2 {
    font-size: 30px;
  }
  /* Customers */
  .customers-content-text h4 {
    font-size: 20px;
  }
  .customers-content-text p {
    font-size: 14px;
  }
  /* Marketing */
  .marketing-content-card {
    width: 240px;
  }
  .marketing-content-text h2 {
    font-size: 30px;
  }
  .marketing-content-text p {
    font-size: 12px;
  }
  /* Demo */
  .demo-content-text h2 {
    font-size: 38px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* Hero */
  .hero-content .hero-banner {
    width: 40%;
  }
  .hero-left-content .text h1,
  .hero-left-content .text span p {
    font-size: 30px;
  }
  .hero-left-content .text p {
    font-size: 12px;
  }
  .hero-left-content .register-btn {
    padding: 12px 0px;
    width: 100px;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 30px;
  }
  .our-clients-content .text p {
    font-size: 12px;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 30px;
  }
  .manage-content .text p {
    font-size: 12px;
  }
  /* Learn More */
  .learn-more-content img {
    width: 100%;
  }
  .learn-more .right-wrapper .text p {
    font-size: 12px;
  }
  /* Reinvent */
  .reinvent-right-upper-content-members-left-content img,
  .reinvent-right-upper-content-clubs-left-content img,
  .reinvent-right-lower-content-event-bookings-left-content img,
  .reinvent-right-lower-content-payments-left-content img {
    width: 28px;
  }
  .reinvent-left-content-text h2 {
    font-size: 24px;
  }
  .reinvent-left-content-text p {
    font-size: 12px;
  }
  .reinvent-right-upper-content-members-right-content-text p,
  .reinvent-right-upper-content-clubs-right-content-text p,
  .reinvent-right-lower-content-event-bookings-right-content-text p,
  .reinvent-right-lower-content-payments-right-content-text p {
    font-size: 11px;
  }
  /* Helping a local business */
  .helping-a-local-business-left-content-banner img {
    width: 100%;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 12px;
  }
  /* Customers */
  .customers-content-text h4 {
    font-size: 18px;
  }
  .customers-content-text p {
    font-size: 12px;
  }
  .customers-content-logos-and-link {
    gap: 2px;
  }
  .customers-content-logos-and-link img {
    width: 40px;
  }
  .customers-content-logos-and-link p {
    font-size: 14px;
  }
  .customers-content-logos-and-link p img {
    width: 24px;
  }
  /* Marketing */
  .marketing-content-card {
    width: 200px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  /* Hero */
  .hero-swiper {
    --swiper-pagination-bullet-size: 10px;
  }
  .hero-content .hero-banner {
    display: none;
  }
  .hero-content {
    display: flex;
    justify-content: center;
  }
  .hero-left-content,
  .hero-left-content .text {
    align-items: center;
  }
  .hero-left-content .text {
    text-align: center;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 22px;
  }
  .our-clients-content-icons img {
    width: 8%;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 22px;
  }
  /* Learn More */
  .learn-more-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .learn-more .right-wrapper .text h2 {
    text-align: center;
    font-size: 22px;
  }
  .learn-more .right-wrapper .text p {
    font-size: 11px;
  }
  /* Reinvent */
  .reinvent-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .reinvent-left-content-text h2,
  .reinvent-left-content-text p {
    text-align: center;
  }
  .reinvent-left-content-text h2 {
    font-size: 38px;
  }
  .reinvent-left-content-text p {
    font-size: 16px;
  }
  .reinvent-right-upper-content-members-left-content img,
  .reinvent-right-upper-content-clubs-left-content img,
  .reinvent-right-lower-content-event-bookings-left-content img,
  .reinvent-right-lower-content-payments-left-content img {
    width: 80%;
  }
  .reinvent-right-upper-content-members-right-content-text h3,
  .reinvent-right-upper-content-clubs-right-content-text h3,
  .reinvent-right-lower-content-event-bookings-right-content-text h3,
  .reinvent-right-lower-content-payments-right-content-text h3 {
    font-size: 28px;
  }
  .reinvent-right-upper-content-members-right-content-text p,
  .reinvent-right-upper-content-clubs-right-content-text p,
  .reinvent-right-lower-content-event-bookings-right-content-text p,
  .reinvent-right-lower-content-payments-right-content-text p {
    font-size: 14px;
  }
  /* Helping a local business */
  .helping-a-local-business-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .helping-a-local-business-right-content-text h2 {
    font-size: 22px;
    text-align: center;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 11px;
  }
  /* Customers */
  .customers-content {
    padding: 20px;
  }
  .customers-content-logos-and-link img {
    width: 30px;
  }
  .customers-content-logos-and-link p {
    font-size: 12px;
  }
  .customers-content-logos-and-link p img {
    width: 20px;
  }
  /* Marketing */
  .marketing-content-card {
    width: 300px;
  }
  .marketing-content-cards {
    flex-wrap: wrap;
    gap: 40px;
  }
  .marketing-content-text h2 {
    font-size: 22px;
  }
  .marketing-content-text p {
    font-size: 11px;
  }
  /* Demo */
  .demo-content-text h2 {
    font-size: 28px;
  }
  .demo-content-btn button {
    padding: 16px 24px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  /* Our Clients */
  .our-clients-content .text p {
    font-size: 11px;
  }
  /* Reinvent */
  .reinvent-left-content-text h2 {
    font-size: 26px;
  }
  .reinvent-left-content-text p,
  .reinvent-right-upper-content-members-right-content-text p,
  .reinvent-right-upper-content-clubs-right-content-text p,
  .reinvent-right-lower-content-event-bookings-right-content-text p,
  .reinvent-right-lower-content-payments-right-content-text p {
    font-size: 12px;
  }
  .reinvent-right-upper-content-members-left-content img,
  .reinvent-right-upper-content-clubs-left-content img,
  .reinvent-right-lower-content-event-bookings-left-content img,
  .reinvent-right-lower-content-payments-left-content img {
    width: 30px;
  }
  .reinvent-right-upper-content-members-right-content-text h3,
  .reinvent-right-upper-content-clubs-right-content-text h3,
  .reinvent-right-lower-content-event-bookings-right-content-text h3,
  .reinvent-right-lower-content-payments-right-content-text h3 {
    font-size: 20px;
  }
  .reinvent-right-upper-content,
  .reinvent-right-lower-content {
    gap: 20px;
  }
  /* Customers */
  .customers-content-logos-and-link {
    gap: 10px;
    flex-wrap: wrap;
  }
  .customers-content-logos-and-link img {
    width: 10%;
  }
  .customers-content-logos-and-link p {
    font-size: 12px;
  }
  .customers-content-logos-and-link p img {
    width: 18px;
  }
  /* Marketing */
  .marketing-content-card {
    width: 280px;
  }
  .marketing-content-card-text p {
    font-size: 16px;
  }
  .marketing-content-card-link p {
    font-size: 14px;
  }
  /* Demo */
  .demo-content-text h2 {
    font-size: 16px;
  }
  .demo-content-btn button {
    padding: 16px 20px;
  }
}
