/* Apply font families for text throughout the project */

/* Hero */
/* Fix alignment bug for the mobile media query (<= 640px) */
.hero {
  background-color: #f5f7fa;
}

.hero-content,
.hero-left-content,
.hero-left-content-text,
.hero-content-swiper-icons {
  display: flex;
}

.hero-left-content,
.hero-left-content-text {
  flex-direction: column;
}

.hero-left-content-text h1,
.hero-left-content-text span p {
  font-size: 60px;
}

.hero-content {
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.hero-left-content {
  gap: 40px;
}

.hero-left-content-text {
  gap: 20px;
}

.hero-left-content-text h1 {
  text-transform: none;
  color: #4d4d4d;
}

.hero-left-content-text span p {
  color: #4caf4f;
}

.hero-left-content-text p {
  color: #717171;
}

.hero-left-content-btn .register-btn button {
  padding: 14px 40px;
  background-color: #4caf4f;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-left-content-btn .register-btn button:hover {
  opacity: 0.8;
}

.hero-content-swiper-icons {
  justify-content: center;
  padding-bottom: 20px;
}

/* Our Clients */
.our-clients {
  margin-top: 40px;
}

.our-clients-content,
.our-clients-content-text,
.our-clients-content-icons-wrapper,
.our-clients-content-icons {
  display: flex;
}

.our-clients-content,
.our-clients-content-text {
  flex-direction: column;
}

.our-clients-content {
  gap: 40px;
}

.our-clients-content-text {
  align-items: center;
  gap: 10px;
}

.our-clients-content-text h2 {
  text-transform: capitalize;
  color: #4d4d4d;
}

.our-clients-content-text p {
  color: #717171;
}

.our-clients-content-icons-wrapper {
  justify-content: center;
}

.our-clients-content-icons {
  width: 100%;
  justify-content: space-around;
}

/* Manage */
.manage,
.manage-content-cards-wrapper {
  margin-top: 40px;
}

.manage-content-text,
.manage-content-cards,
.manage-content-card,
.manage-content-card-text {
  display: flex;
}

.manage-content-text,
.manage-content-card,
.manage-content-card-text {
  flex-direction: column;
}

.manage-content-text,
.manage-content-card,
.manage-content-card-text {
  align-items: center;
}

.manage-content-text h2,
.manage-content-card-text h3,
.manage-content-card-text p {
  text-align: center;
}

.manage-content-text h2,
.manage-content-card-text h3 {
  color: #4d4d4d;
}

.manage-content-text p,
.manage-content-card-text p {
  color: #717171;
}

.manage-content-cards,
.manage-content-card {
  justify-content: space-around;
}

.manage-content-text {
  gap: 10px;
}

.manage-content-card {
  width: 400px;
  height: 340px;
  padding: 60px 0px;
  background-color: #fff;
  border-radius: 12px;
}

.manage-content-card-text {
  gap: 20px;
}

.manage-content-card-text h3 {
  font-weight: bold;
}

.manage-content-text h2 {
  text-transform: none;
}

/* Learn More */
.learn-more {
  margin-top: 40px;
}

.learn-more-content,
.learn-more-right-content,
.learn-more-right-content-text {
  display: flex;
}

.learn-more-right-content,
.learn-more-right-content-text {
  flex-direction: column;
}

.learn-more-content {
  align-items: center;
  justify-content: space-around;
}

.learn-more-right-content-text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.learn-more-right-content-text p {
  color: #717171;
}

.learn-more-right-content {
  gap: 40px;
}

.learn-more-right-content-text {
  gap: 20px;
}

/* Helping a local business */
.helping-a-local-business {
  margin-top: 40px;
}

.helping-a-local-business-content,
.helping-a-local-business-right-content,
.helping-a-local-business-right-content-text {
  display: flex;
}

.helping-a-local-business-right-content,
.helping-a-local-business-right-content-text {
  flex-direction: column;
}

.helping-a-local-business-content {
  align-items: center;
  justify-content: space-around;
}

.helping-a-local-business-right-content {
  gap: 40px;
}

.helping-a-local-business-right-content-text {
  gap: 20px;
}

.helping-a-local-business-right-content-text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.helping-a-local-business-right-content-text p {
  color: #717171;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  /* Hero */
  .hero-content {
    padding: 60px 4px;
  }
  .hero-left-content-text h1,
  .hero-left-content-text span p {
    font-size: 48px;
  }
  .hero-right-content-banner img {
    width: 90%;
  }
  /* Manage */
  .manage-content-card {
    width: 320px;
  }
  /* Learn More */
  .learn-more-right-content-text h2 {
    font-size: 32px;
  }
  .learn-more-right-content-text p {
    font-size: 14px;
  }
  /* Helping a local business */
  .helping-a-local-business-right-content-text h2 {
    font-size: 32px;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 14px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  /* Hero */
  .hero-content {
    gap: 20px;
  }
  .hero-left-content-text h1,
  .hero-left-content-text span p {
    font-size: 34px;
  }
  .hero-left-content-text p {
    font-size: 14px;
  }
  /* Our Clients */
  .our-clients-content-text h2 {
    font-size: 34px;
  }
  .our-clients-content-text p {
    font-size: 14px;
  }
  /* Manage */
  .manage-content-card {
    width: 240px;
    padding: 60px 10px;
  }
  .manage-content-text h2 {
    font-size: 34px;
  }
  .manage-content-text p,
  .manage-content-card-text p {
    font-size: 14px;
  }
  .manage-content-card-text h3 {
    font-size: 20px;
  }
  /* Learn More */
  .learn-more-content {
    gap: 5px;
  }
  .learn-more-right-content-text h2 {
    font-size: 30px;
  }
  /* Helpig a local business */
  .helping-a-local-business-content {
    gap: 5px;
  }
  .helping-a-local-business-right-content-text h2 {
    font-size: 30px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* Hero */
  .hero-right-content-banner img {
    width: 100%;
  }
  .hero-left-content-text h1,
  .hero-left-content-text span p {
    font-size: 30px;
  }
  .hero-left-content-text p {
    font-size: 12px;
  }
  .hero-left-content-btn .register-btn button {
    padding: 12px 30px;
  }
  /* Our Clients */
  .our-clients-content-text h2 {
    font-size: 30px;
  }
  .our-clients-content-text p {
    font-size: 12px;
  }
  /* Manage */
  .manage-content-cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  .manage-content-card {
    width: 320px;
    padding: 60px 0px;
  }
  .manage-content-text h2 {
    font-size: 30px;
  }
  .manage-content-text p {
    font-size: 12px;
  }
  /* Learn More */
  .learn-more-left-content-banner img {
    width: 100%;
  }
  .learn-more-right-content-text p {
    font-size: 12px;
  }
  /* Helping a local business */
  .helping-a-local-business-left-content-banner img {
    width: 100%;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 12px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  /* Hero */
  .hero-right-content-banner-wrapper,
  .hero-content-swiper-icons {
    display: none;
  }
  .hero-content,
  .hero-left-content-btn .register-btn {
    justify-content: center;
  }
  .hero-content {
    padding: 60px 0px;
  }
  .hero-left-content-text h1,
  .hero-left-content-text span p,
  .hero-left-content-text p {
    text-align: center;
  }
  .hero-left-content-text h1,
  .hero-left-content-text span p {
    font-size: 22px;
  }
  .hero-left-content-btn .register-btn {
    display: flex;
  }
  .hero-left-content-btn .register-btn button {
    padding: 10px 20px;
  }
  /* Our Clients */
  .our-clients-content-text h2 {
    font-size: 22px;
  }
  .our-clients-content-icons img {
    width: 8%;
  }
  /* Manage */
  .manage-content-text h2 {
    font-size: 22px;
  }
  /* Learn More */
  .learn-more-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .learn-more-right-content-text h2 {
    text-align: center;
    font-size: 22px;
  }
  .learn-more-right-content-text p {
    font-size: 11px;
  }
  /* Helping a local business */
  .helping-a-local-business-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .helping-a-local-business-right-content-text h2 {
    font-size: 22px;
    text-align: center;
  }
  .helping-a-local-business-right-content-text p {
    font-size: 11px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  /* Our Clients */
  .our-clients-content-text p {
    font-size: 11px;
  }
  /* Manage */
  .manage-content-card {
    width: 280px;
  }
}
