/* Marketing */
.marketing {
  margin-top: 40px;
}

.marketing-content .text {
  display: flex;
}

.marketing-content .text {
  text-align: center;
}

.marketing-content .text {
  flex-direction: column;
}

.marketing-content .text p {
  color: #717171;
}

.marketing-content .text {
  gap: 16px;
}

.marketing-content .text h2 {
  color: #4d4d4d;
}

/* Demo */
.demo {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.demo-content,
.demo-content button {
  display: flex;
}

.demo-content,
.demo-content button {
  align-items: center;
}

.demo-content {
  flex-direction: column;
  gap: 40px;
  padding: 60px 40px;
}

.demo-content h2 {
  text-align: center;
}

.demo-content h2 {
  color: #263238;
  font-size: 48px;
}

.demo-content button {
  background-color: #4caf4f;
  gap: 12px;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.demo-content button:hover {
  opacity: 0.8;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  /* Marketing */
  .marketing-content .text h2 {
    font-size: 30px;
  }
  .marketing-content .text p {
    font-size: 12px;
  }
  /* Demo */
  .demo-content h2 {
    font-size: 38px;
  }
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
  /* Marketing */
  .marketing-content .text h2 {
    font-size: 22px;
  }
  .marketing-content .text p {
    font-size: 11px;
  }
  /* Demo */
  .demo-content h2 {
    font-size: 28px;
  }
  .demo-content button {
    padding: 16px 24px;
  }
}

/* xs */
@media (max-width: 475px) {
  /* Demo */
  .demo-content h2 {
    font-size: 24px;
  }
  .demo-content button {
    padding: 16px 20px;
  }
}
