/* Our Clients */
.our-clients {
  margin-top: 40px;
}

.our-clients-content,
.our-clients-content .text,
.our-clients-content-icons {
  display: flex;
}

.our-clients-content,
.our-clients-content .text {
  flex-direction: column;
}

.our-clients-content {
  gap: 40px;
}

.our-clients-content .text {
  align-items: center;
  gap: 10px;
}

.our-clients-content .text h2 {
  text-transform: capitalize;
  color: #4d4d4d;
}

.our-clients-content .text p {
  color: #717171;
}

.our-clients-content-icons {
  justify-content: space-around;
}

/* Manage */
.manage {
  margin-top: 40px;
}

.manage-content .text {
  display: flex;
}

.manage-content .text {
  flex-direction: column;
}

.manage-content .text {
  align-items: center;
}

.manage-content .text h2 {
  text-align: center;
}

.manage-content .text h2 {
  color: #4d4d4d;
}

.manage-content .text p {
  color: #717171;
}

.manage-content .text {
  gap: 10px;
}

.manage-content .text h2 {
  text-transform: none;
}

/* Learn More */
.learn-more {
  margin-top: 40px;
}

.learn-more-content,
.learn-more .right-wrapper,
.learn-more .right-wrapper .text {
  display: flex;
}

.learn-more .right-wrapper,
.learn-more .right-wrapper .text {
  flex-direction: column;
}

.learn-more-content {
  align-items: center;
  justify-content: space-around;
}

.learn-more .right-wrapper .text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.learn-more .right-wrapper .text p {
  color: #717171;
}

.learn-more .right-wrapper {
  gap: 40px;
}

.learn-more .right-wrapper .text {
  gap: 20px;
}

/* Reinvent */
.reinvent {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.reinvent-content,
.reinvent-content .text,
.reinvent-content .content-wrapper,
.reinvent-content .content-wrapper .upper-wrapper,
.reinvent-content .content-wrapper .lower-wrapper,
.reinvent-content .content-wrapper .card {
  display: flex;
}

.reinvent-content .text,
.reinvent-content .content-wrapper {
  flex-direction: column;
}

.reinvent-content .content-wrapper,
.reinvent-content .content-wrapper .upper-wrapper,
.reinvent-content .content-wrapper .lower-wrapper {
  gap: 40px;
}

.reinvent-content,
.reinvent-content .content-wrapper .card {
  align-items: center;
}

.reinvent-content .text h2,
.reinvent-content .content-wrapper .card .text h3 {
  color: #4d4d4d;
}

.reinvent-content {
  justify-content: space-between;
  padding: 100px 80px;
}

.reinvent-content .text {
  gap: 4px;
}

.reinvent-content .text h2 {
  text-transform: none;
}

.reinvent-content .text h2 span {
  color: #4caf4f;
}

.reinvent-content .text p {
  color: #18191f;
}

.reinvent-content .content-wrapper .card {
  gap: 24px;
}

.reinvent-content .content-wrapper .card .text p {
  color: #717171;
}

/* Local business */
.local-business {
  margin-top: 40px;
}

.local-business-content,
.local-business .right-wrapper,
.local-business .right-wrapper .text {
  display: flex;
}

.local-business .right-wrapper,
.local-business .right-wrapper .text {
  flex-direction: column;
}

.local-business-content {
  align-items: center;
  justify-content: space-around;
}

.local-business .right-wrapper {
  gap: 40px;
}

.local-business .right-wrapper .text {
  gap: 20px;
}

.local-business .right-wrapper .text h2 {
  color: #4d4d4d;
  text-transform: none;
}

.local-business .right-wrapper .text p {
  color: #717171;
}

/* Customers */
.customers {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.customers-content-wrapper,
.customers-content,
.customers-content .text,
.customers-content .logos-and-link,
.customers-content .logos-and-link p {
  display: flex;
}

.customers-content,
.customers-content .text {
  flex-direction: column;
}

.customers-content,
.customers-content .text {
  gap: 20px;
}

.customers-content .logos-and-link,
.customers-content .logos-and-link p {
  align-items: center;
}

.customers-content .text h4,
.customers-content .logos-and-link p a {
  color: #4caf4f;
}

.customers-content-wrapper {
  justify-content: flex-end;
}

.customers-content {
  padding: 60px 100px;
}

.customers-content .text p {
  color: #717171;
}

.customers-content .text p span {
  color: #89939e;
}

.customers-content .logos-and-link {
  justify-content: space-between;
}

.customers-content .logos-and-link p {
  gap: 4px;
}

.customers-content .logos-and-link p a {
  text-decoration: none;
  font-weight: bold;
}

.customers-content .logos-and-link p a:hover {
  text-decoration: underline;
}

/* Marketing */
.marketing {
  margin-top: 40px;
}

.marketing-content .text {
  display: flex;
}

.marketing-content .text {
  text-align: center;
}

.marketing-content .text {
  flex-direction: column;
}

.marketing-content .text p {
  color: #717171;
}

.marketing-content .text {
  gap: 16px;
}

.marketing-content .text h2 {
  color: #4d4d4d;
}

/* Demo */
.demo {
  margin-top: 40px;
  background-color: #f5f7fa;
}

.demo-content,
.demo-content button {
  display: flex;
}

.demo-content,
.demo-content button {
  align-items: center;
}

.demo-content {
  flex-direction: column;
  gap: 40px;
  padding: 60px 40px;
}

.demo-content h2 {
  text-align: center;
}

.demo-content h2 {
  color: #263238;
  font-size: 48px;
}

.demo-content button {
  background-color: #4caf4f;
  gap: 12px;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.demo-content button:hover {
  opacity: 0.8;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  /* Learn More */
  .learn-more .right-wrapper .text h2 {
    font-size: 32px;
  }
  .learn-more .right-wrapper .text p {
    font-size: 14px;
  }
  /* Reinvent */
  .reinvent-content {
    padding: 100px 20px;
  }
  .reinvent-content .text h2 {
    font-size: 32px;
  }
  .reinvent-content .text p {
    font-size: 14px;
  }
  /* Local business */
  .local-business .right-wrapper .text h2 {
    font-size: 32px;
  }
  .local-business .right-wrapper .text p {
    font-size: 14px;
  }
  /* Customers */
  .customers-content-wrapper {
    justify-content: center;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 34px;
  }
  .our-clients-content .text p {
    font-size: 14px;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 34px;
  }
  .manage-content .text p {
    font-size: 14px;
  }
  /* Learn More */
  .learn-more-content {
    gap: 5px;
  }
  .learn-more .right-wrapper .text h2 {
    font-size: 30px;
  }
  /* Reinvent */
  .reinvent-content {
    padding: 100px 14px;
  }
  .reinvent-content .text h2 {
    font-size: 28px;
  }
  .reinvent-content .text p {
    font-size: 12px;
  }
  .reinvent-content .content-wrapper .card .text h3 {
    font-size: 18px;
  }
  /* Local business */
  .local-business-content {
    gap: 5px;
  }
  .local-business .right-wrapper .text h2 {
    font-size: 30px;
  }
  /* Customers */
  .customers-content .text h4 {
    font-size: 20px;
  }
  .customers-content .text p {
    font-size: 14px;
  }
  /* Marketing */
  .marketing-content .text h2 {
    font-size: 30px;
  }
  .marketing-content .text p {
    font-size: 12px;
  }
  /* Demo */
  .demo-content h2 {
    font-size: 38px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 30px;
  }
  .our-clients-content .text p {
    font-size: 12px;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 30px;
  }
  .manage-content .text p {
    font-size: 12px;
  }
  /* Learn More */
  .learn-more-content img {
    width: 100%;
  }
  .learn-more .right-wrapper .text p {
    font-size: 12px;
  }
  /* Reinvent */
  .reinvent-content {
    padding: 100px 0px;
  }
  .reinvent-content .text h2 {
    font-size: 22px;
  }
  .reinvent-content .text p {
    font-size: 12px;
  }
  .reinvent-content .content-wrapper .card .text h3 {
    font-size: 16px;
  }
  .reinvent-content .content-wrapper .card .text p {
    font-size: 11px;
  }
  .reinvent-content .content-wrapper,
  .reinvent-content .content-wrapper .upper-wrapper,
  .reinvent-content .content-wrapper .lower-wrapper {
    gap: 20px;
  }
  /* Local business */
  .local-business .local-business-content img {
    width: 50%;
  }
  .local-business .right-wrapper .text p {
    font-size: 12px;
  }
  /* Customers */
  .customers-content .text h4 {
    font-size: 18px;
  }
  .customers-content .text p {
    font-size: 12px;
  }
  .customers-content .logos-and-link {
    gap: 2px;
  }
  .customers-content .logos-and-link img {
    width: 40px;
  }
  .customers-content .logos-and-link p {
    font-size: 14px;
  }
  .customers-content .logos-and-link p img {
    width: 24px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  /* Our Clients */
  .our-clients-content .text h2 {
    font-size: 22px;
  }
  .our-clients-content-icons img {
    width: 8%;
  }
  /* Manage */
  .manage-content .text h2 {
    font-size: 22px;
  }
  /* Learn More */
  .learn-more-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .learn-more .right-wrapper .text h2 {
    text-align: center;
    font-size: 22px;
  }
  .learn-more .right-wrapper .text p {
    font-size: 11px;
  }
  /* Reinvent */
  .reinvent-content {
    flex-direction: column;
    gap: 40px;
  }
  .reinvent-content .text h2 {
    text-align: center;
    font-size: 22px;
  }
  /* Local business */
  .local-business-content {
    flex-wrap: wrap;
    gap: 40px;
  }
  .local-business .right-wrapper .text h2 {
    font-size: 22px;
    text-align: center;
  }
  .local-business .right-wrapper .text p {
    font-size: 11px;
    text-align: center;
  }
  /* Customers */
  .customers-content {
    padding: 20px;
  }
  .customers-content .logos-and-link img {
    width: 30px;
  }
  .customers-content .logos-and-link p {
    font-size: 12px;
  }
  .customers-content .logos-and-link p img {
    width: 20px;
  }
  /* Marketing */
  .marketing-content .text h2 {
    font-size: 22px;
  }
  .marketing-content .text p {
    font-size: 11px;
  }
  /* Demo */
  .demo-content h2 {
    font-size: 28px;
  }
  .demo-content button {
    padding: 16px 24px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  /* Our Clients */
  .our-clients-content .text p {
    font-size: 11px;
  }
  /* Reinvent */
  .reinvent-content .content-wrapper .card img {
    width: 100%;
  }
  /* Customers */
  .customers-content .logos-and-link {
    gap: 10px;
    flex-wrap: wrap;
  }
  .customers-content .logos-and-link img {
    width: 10%;
  }
  .customers-content .logos-and-link p {
    font-size: 12px;
  }
  .customers-content .logos-and-link p img {
    width: 18px;
  }
  /* Demo */
  .demo-content h2 {
    font-size: 24px;
  }
  .demo-content button {
    padding: 16px 20px;
  }
}
